.posts {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 1% 5%;

  .post {
    width: 24%;
    margin: .5%;
    opacity: .8;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    transition: all .3s ease-in-out;

    &:hover {
      opacity: 1;
      box-shadow: 0px 5px 7px rgba(0, 0, 0, .15), 0px 9px 11px rgba(0, 0, 0, .1);
    }
  }
}