.todo {
  display: flex;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
  }

  &__content {
    display: flex;
    width: 100%;
    height: 180px;
    overflow: hidden;

    .todoTasks {
      width: 100%;
      padding: 15px;

      .todoTask {
        display: flex;
        width: 100%;

        &-complete {
          opacity: .5;

          .todoTask__title {

            h5 {
              text-decoration: line-through;
            }
          }
        }

        &__check {
          width: 40px;
          margin-top: 5px;
          text-align: center;
        }

        &__title {
          flex: 1 1 auto;
          margin-top: 5px;
          width: 78%;
          padding-right: 20px;
          overflow: hidden;

          h5 {
            font-weight: 100;
          }
        }
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
    margin: 35px 0px 10px 0px;
  }
}